<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<!-- https://www.pwer-dev.id.vn/assets/images/Logo.png -->

<body>


<div style="">
    <div
            style="max-width: 600px; margin:0 auto; background-image: linear-gradient(  rgba(0, 18, 50, 0.8),rgba(0, 18, 50, 0.8) ) ,url('https://www.pwer-dev.id.vn/assets/images/bg-01.jpg');  background-position: center ;display: block; background-repeat: no-repeat;background-size: cover;">
        <table cellspacing="0" cellpadding="0"
               style="margin:0;border-spacing:0;border:0;padding:0;width:100%;border-collapse:collapse; color: white;"
               width="100%">
            <tbody>
            <tr
                    style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                <td
                        style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                    <table cellspacing="0" cellpadding="0"
                           style="margin:0;border-spacing:0;border:0;padding:0;width:100%;border-collapse:collapse"
                           width="100%">

                        <tbody>
                        <tr
                                style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                            <td style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit"
                                height="56px"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr
                    style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                <td
                        style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                    <table cellspacing="0" cellpadding="0"
                           style="margin:0;border-spacing:0;border:0;padding:0;width:100%;border-collapse:collapse; color: white;"
                           width="100%">
                        <tbody>
                        <tr
                                style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                            <td width="236.5px"
                                style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                            </td>
                            <td
                                    style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">


                                <a href='https://www.pwer-dev.id.vn'>
                                    <img src="https://www.pwer-dev.id.vn/assets/images/Logo.png" alt=""
                                         srcset="" height="60px">
                                </a>

                            </td>
                            <td width="236.5px"
                                style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr
                    style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit ;">
                <td
                        style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">

                    <table cellspacing="0" cellpadding="0"
                           style="margin:0;border-spacing:0;border:0;padding:0;width:100%;border-collapse:collapse; color: white;"
                           width="100%">
                        <tbody>
                        <tr
                                style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                            <td width="100.5px"
                                style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                            </td>
                            <td
                                    style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                <table
                                        style="box-shadow: 4px 4px 50px 0 rgba(0,0,0,0.3); background-color: rgba(5, 17, 63, 0.8); ">
                                    <tbody>
                                    <tr
                                            style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">

                                        <td colspan="3" height="50px"
                                            style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                        </td>
                                    </tr>
                                    <tr
                                            style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                        <td
                                                style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                            <table cellspacing="0" cellpadding="0"
                                                   style="margin:0;border-spacing:0;border:0;padding:0;width:100%;border-collapse:collapse; color: white;"
                                                   width="100%">
                                                <tbody>
                                                <tr
                                                        style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                                    <td width="40px"
                                                        style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                                    </td>
                                                    <td
                                                            style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                                        <table cellspacing="0" cellpadding="0"
                                                               style="margin:0;border-spacing:0;border:0;padding:0;width:100%;border-collapse:collapse; color: white;"
                                                               width="100%">
                                                            <tbody>
                                                            <tr
                                                                    style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                                                <td
                                                                        style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                                                    <p>Xin chào, <span th:text="${name}"></span> </p>
                                                                    <p>Đây là mã xác nhận được
                                                                        gửi tới <p th:text="${mail}"></p>
                                                                        nhằm xác thực email của
                                                                        bạn trong website THE CINEMA, mã xác thực này
                                                                        chỉ có hiệu
                                                                        lực trong 5 phút.</p>
                                                                </td>
                                                            </tr>
                                                            <tr
                                                                    style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                                                <td height="24px"></td>
                                                            </tr>
                                                            <tr
                                                                    style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                                                <td
                                                                        style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                                                    <p>
                                                                        Tuyệt đối không chỉa sẻ
                                                                        mã xác nhận này cho bất
                                                                        kỳ ai.
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr
                                                                    style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                                                <td height="24px"></td>
                                                            </tr>
                                                            <tr
                                                                    style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                                                <td
                                                                        style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                                                    <p>
                                                                        Mã xác nhận <span
                                                                            style="font-weight: 700; font-size: 18px;" th:text="${otp}"></span>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                                    </td>
                                                    <td width="40px"
                                                        style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr
                                            style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">

                                        <td colspan="3" height="50px"
                                            style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td width="100.5px"
                                style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr
                    style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">

                <td>
                    <table width="100%" style="color: white;">
                        <tbody>
                        <tr
                                style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                            <td width="100.5px"
                                style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                            </td>
                            <td
                                    style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit;text-align: center;">
                                <p>Trân trọng.</p>
                                <p>Đội ngũ <span style="border-bottom: 1px solid #31AFD7;">THE
                                                    CINEMA.</span></p>
                            </td>
                            <td width="100.5px"
                                style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>

            </tr>
            <tr
                    style="margin:0;padding:0;border:none;border-spacing:0;border-collapse:collapse;font-family:inherit">
                <td height="56px"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>

</html>